{# % extends "FOSUserBundle::layout.html.twig" %#}
{% extends "AppUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">

		{% block fos_user_content %}
		{% if error %}
		    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form action="{{ path("fos_user_security_check") }}" method="post">
		    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		    <p><label for="username">{{ 'security.login.username'|trans }}</label></p>
		    <p><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></p>

		    <p><label for="password">{{ 'security.login.password'|trans }}</label></p>
		    <p><input type="password" id="password" name="_password" required="required" />

		    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

		    <input class="btn btn-lg btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }} &raquo;" /></p>
		    
		    <!--input type="submit" id="_submit" name="_submit" value="{#{ 'security.login.submit'|trans }#} &raquo;" /-->
		</form>
		{% endblock fos_user_content %}

      </div>
    </div> <!-- /container -->


{% endblock %}

